.no_card_div {
  display: flex;
  flex-direction: column;
}

.text_no_card {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.img_no_card {
  width: 80vw;
  height: 280px;
  margin-top: 30px;
  animation: myAnim 2s ease 0s infinite normal none;
}

@keyframes myAnim {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 100%;
  }
}

@media (min-width: 768px) {
  .no_card_div {
    position: relative;
    left: 70px;
  }

  .img_no_card {
    width: 35vw;
  }
}
